.footer {
    position: relative;
    width: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #555;
    font-size: 0.9rem;
    padding: 1rem 0;
    text-align: center;
    margin-top: 3rem;
    z-index: 1000;
}

.link {
    color: #007acc;
    text-decoration: none;
    margin: 0 0.5rem;
}

.link:hover {
    text-decoration: underline;
}
