.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.image {
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: block;
}

.imageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content {
    padding: 1.5rem;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: #222;
}

.description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
}

.badge {
    background: #eef2f6;
    color: #333;
    padding: 0.3rem 0.7rem;
    border-radius: 8px;
    font-size: 0.85rem;
}

.link {
    color: #007acc;
    font-weight: 500;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.chevron{
    color: rgba(165, 165, 165, 0.5);
}

.hidden{
    display: none;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 50%;
    border: none;
    padding: 0;
    background-color: rgba(220, 220, 220, 0.1);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.arrowLeft,*/
/*.arrowRight {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    !*background-color: rgba(255, 255, 255, 0.8); !* светлый фон *!*!*/
/*    color: #111; !* тёмная стрелка, хорошо читается *!*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    cursor: pointer;*/
/*    font-size: 18px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    transition: all 0.2s ease;*/
/*    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);*/
/*    z-index: 10;*/
/*}*/

.arrowLeft {
    left: 12px;
}

.arrowRight {
    right: 12px;
}

/*.arrowLeft:hover,*/
/*.arrowRight:hover {*/
/*    background-color: rgba(255, 255, 255, 1); !* ярче при наведении *!*/
/*    transform: translateY(-50%) scale(1.1);   !* лёгкое увеличение *!*/
/*}*/
