.about {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem;
    color: #222;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.topBlock {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.photoBlock, .infoBlock, .photo {
    height: 300px;
}

.photoBlock {
    flex: 0 0 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    /*width: 260px;*/
    /*object-fit: cover;*/
}

.infoBlock {
    flex: 1 1 320px;
    font-size: 1rem;
    line-height: 1.3;
    background-color: #f7f7f7;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    text-align: left;
}

.name {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: #333;
}

.infoList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.infoList li {
    margin-bottom: 0.8rem;
}

.infoList a {
    color: #007acc;
    text-decoration: none;
}

.infoList a:hover {
    text-decoration: underline;
}

.text {
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: justify;
}

.text p {
    margin-bottom: 1.5rem;
}

@media (max-width: 720px) {
    .topBlock {
        flex-direction: column;
        align-items: center;
    }

    .infoBlock {
        width: 100%;
        max-width: 400px;
    }

    .photoBlock {
        margin-bottom: 1.5rem;
    }
}
