.header {
    position: fixed;
    background-color: var(--header-bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow: visible;
    font-family: 'Great Vibes', cursive;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 0rem;
    padding: 1rem;
}

.button {
    background: none;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

button:focus {
    outline: none;
}
